/* .brand{
    color: brown;
} */

body{
    background-color: rgb(3, 0, 31);
} 
.sidebar{
   width: 320px;
   height: 100vh;
    border-right: 1px solid rgb(100, 100, 100);

}
.upperSide{
    border-bottom:1px solid rgb(100, 100, 100); ;
}
.midbtn{
    width: 250px;
    height: 50px;
    font-size: 14px;
}
.addbtn{
    width: 20px;
    height: 20px;
   
}
.upperSide{
    border-bottom: 1px solid rgb(100, 100, 100);
}
.query{
    width: 250px;
    height: 50px;
    border: 1px solid rgb(111, 111, 111);
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-top: 15px;
    border-radius: 6px;
    outline: none;
    font-size: 13px;
}
.query:hover{
    background-color: rgb(1, 5, 43);
}
.listItem{
    display: flex;
    align-items: center;
    padding-top: 22px;
    font-size: 13px;
}

.main{
    font-size: 0.80rem;
}
.modeChange input{
    appearance: none;
    width: 50px;
    height: 25px;
    border-radius: 30px;
    cursor: pointer;
    background: #4b4b4b;
    position: relative;
    outline: none;
}
.modeChange input::before{
    content: "";
    width: 18px;
    height: 18px;
    top: 12%;
    left: 8px;
    position: absolute;
    background: #8c8c8c;
    border-radius: inherit;
    transform: translate(-12%);
    transition: all 0.3s ease;
}
.modeChange input:checked::before{
    left: 30px;
    background: #fff;
}
.chatFooter>p{
    margin: 0.5rem 0;
}

.chats{
    width: 100%;
    max-width: 70rem;
    height: calc(100vh - 17rem);
}
.chat{
    margin: 1rem;
    padding: 2rem 3rem;
    display: flex;
    align-items: flex-start;
    text-align: justify;
}
.chatImg{
    object-fit: cover;
    width: 3.5rem;
    margin-right: 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.bot{
    width: fit-content;
    background: rgba(28, 30, 58, 1);
    border-radius: 0.5rem;
}

.inp{
    margin: 1rem;
    width: 50rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background: rgba(28, 30, 58, 1);;

}
.inp>input{
    width:calc(100%-3rem);
    outline: none;
    padding: 1.25rem;
    color: white;
}
.inp>input, .send{
    background: transparent;
    border: none;
}